body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:54px;
  width:1680px;
  height:200px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:66px;
  color:#FFFFFF;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:60px;
  width:1676px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:1491px;
  width:1680px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u3 {
  position:absolute;
  left:90px;
  top:1507px;
  width:320px;
  height:40px;
  font-size:25px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1140px;
  top:100px;
  width:210px;
  height:50px;
  font-size:30px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u6 {
  position:absolute;
  left:0px;
  top:7px;
  width:210px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1630px;
  top:100px;
  width:140px;
  height:50px;
  font-size:30px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u8 {
  position:absolute;
  left:0px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1590px;
  top:95px;
  width:10px;
  height:60px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:60px;
}
#u10 {
  position:absolute;
  left:1410px;
  top:100px;
  width:140px;
  height:50px;
  font-size:30px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u11 {
  position:absolute;
  left:0px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:190px;
  top:290px;
  width:100px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:0px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:547px;
  top:290px;
  width:160px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:0px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:963px;
  top:290px;
  width:160px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:0px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1380px;
  top:290px;
  width:160px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:0px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:185px;
  top:370px;
  width:110px;
  height:50px;
  font-size:26px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u21 {
  position:absolute;
  left:0px;
  top:9px;
  width:110px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:572px;
  top:370px;
  width:110px;
  height:50px;
  font-size:26px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:0px;
  top:9px;
  width:110px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:190px;
  top:553px;
  width:80px;
  height:25px;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u25 {
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:280px;
  top:553px;
  width:160px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u26_input:disabled {
  color:grayText;
}
#u27 {
  position:absolute;
  left:774px;
  top:602px;
  width:100px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:130px;
  top:680px;
  width:350px;
  height:60px;
  font-size:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:346px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:480px;
  top:680px;
  width:120px;
  height:60px;
  font-size:22px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:600px;
  top:680px;
  width:120px;
  height:60px;
  font-size:22px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:870px;
  top:680px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:130px;
  top:740px;
  width:350px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:346px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:480px;
  top:740px;
  width:120px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:600px;
  top:740px;
  width:120px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:870px;
  top:740px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:130px;
  top:800px;
  width:350px;
  height:60px;
  font-size:22px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:346px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:480px;
  top:800px;
  width:120px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:600px;
  top:800px;
  width:120px;
  height:60px;
  font-size:22px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:870px;
  top:800px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:130px;
  top:860px;
  width:350px;
  height:60px;
  font-size:22px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:17px;
  width:346px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:480px;
  top:860px;
  width:120px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:600px;
  top:860px;
  width:120px;
  height:60px;
  font-size:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u57 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:870px;
  top:860px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u59 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:190px;
  top:500px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u61 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:281px;
  top:500px;
  width:200px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63 {
  position:absolute;
  left:524px;
  top:500px;
  width:200px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:774px;
  top:500px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u65 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:866px;
  top:500px;
  width:200px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:1105px;
  top:500px;
  width:200px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:490px;
  top:500px;
  width:27px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u69 {
  position:absolute;
  left:1070px;
  top:500px;
  width:27px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u70 {
  position:absolute;
  left:774px;
  top:553px;
  width:80px;
  height:25px;
  font-size:18px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u71 {
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:864px;
  top:553px;
  width:160px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u72_input:disabled {
  color:grayText;
}
#u73 {
  position:absolute;
  left:130px;
  top:920px;
  width:350px;
  height:60px;
  font-size:22px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
}
#u74 {
  position:absolute;
  left:2px;
  top:17px;
  width:346px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:480px;
  top:920px;
  width:120px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u76 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:600px;
  top:920px;
  width:120px;
  height:60px;
  font-size:22px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u78 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:870px;
  top:920px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u80 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1105px;
  top:680px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u82 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1105px;
  top:740px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u84 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1105px;
  top:800px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u86 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1105px;
  top:860px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u88 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1105px;
  top:920px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u90 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1345px;
  top:680px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u92 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1345px;
  top:740px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u94 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1345px;
  top:800px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u96 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1345px;
  top:860px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u98 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1345px;
  top:920px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u100 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1585px;
  top:680px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u102 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1585px;
  top:740px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#0000FF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u104 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1585px;
  top:800px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#0000FF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u106 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:1585px;
  top:860px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#0000FF;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u109 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1585px;
  top:920px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#0000FF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u112 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:720px;
  top:680px;
  width:150px;
  height:60px;
  font-size:22px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u115 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:720px;
  top:740px;
  width:150px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u117 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:720px;
  top:800px;
  width:150px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u119 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:720px;
  top:860px;
  width:150px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u121 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:720px;
  top:920px;
  width:150px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u123 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:190px;
  top:602px;
  width:80px;
  height:25px;
  font-size:18px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u125 {
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:280px;
  top:602px;
  width:160px;
  height:25px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u126_input:disabled {
  color:grayText;
}
#u127 {
  position:absolute;
  left:1560px;
  top:590px;
  width:200px;
  height:50px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u128 {
  position:absolute;
  left:90px;
  top:350px;
  width:1680px;
  height:10px;
}
#u128_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1680px;
  height:2px;
}
