body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:54px;
  width:1680px;
  height:200px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:66px;
  color:#FFFFFF;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:60px;
  width:1676px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:1491px;
  width:1680px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u3 {
  position:absolute;
  left:90px;
  top:1507px;
  width:320px;
  height:40px;
  font-size:25px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1140px;
  top:100px;
  width:210px;
  height:50px;
  font-size:30px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u6 {
  position:absolute;
  left:0px;
  top:7px;
  width:210px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1630px;
  top:100px;
  width:140px;
  height:50px;
  font-size:30px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u8 {
  position:absolute;
  left:0px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1590px;
  top:95px;
  width:10px;
  height:60px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:60px;
}
#u10 {
  position:absolute;
  left:1410px;
  top:100px;
  width:140px;
  height:50px;
  font-size:30px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u11 {
  position:absolute;
  left:0px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:130px;
  top:407px;
  width:10px;
  height:70px;
}
#u12_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u12_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u12_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:70px;
}
#u13 {
  position:absolute;
  left:190px;
  top:412px;
  width:300px;
  height:60px;
  font-size:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u14 {
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:190px;
  top:290px;
  width:100px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:0px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:547px;
  top:290px;
  width:160px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:0px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:963px;
  top:290px;
  width:160px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:0px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1380px;
  top:290px;
  width:160px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:0px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:190px;
  top:495px;
  width:80px;
  height:25px;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u24 {
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:280px;
  top:495px;
  width:160px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u25_input:disabled {
  color:grayText;
}
#u26 {
  position:absolute;
  left:490px;
  top:495px;
  width:80px;
  height:25px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:580px;
  top:496px;
  width:100px;
  height:22px;
  font-size:18px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:0px;
}
#u30 {
  position:absolute;
  left:645px;
  top:496px;
  width:100px;
  height:22px;
  font-size:18px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:0px;
}
#u32 {
  position:absolute;
  left:790px;
  top:495px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:130px;
  top:550px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:370px;
  top:550px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:610px;
  top:550px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:850px;
  top:550px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1090px;
  top:550px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:130px;
  top:610px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:370px;
  top:610px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:610px;
  top:610px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:850px;
  top:610px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1090px;
  top:610px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u52 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:130px;
  top:670px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:370px;
  top:670px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u56 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:610px;
  top:670px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#FF0000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:850px;
  top:670px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u60 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1090px;
  top:670px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u62 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:130px;
  top:730px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:370px;
  top:730px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:610px;
  top:730px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#00FF00;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u68 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:850px;
  top:730px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1090px;
  top:730px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:90px;
  top:350px;
  width:1680px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1680px;
  height:2px;
}
