body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:54px;
  width:1680px;
  height:200px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:66px;
  color:#FFFFFF;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:57px;
  width:1676px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:1491px;
  width:1680px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u3 {
  position:absolute;
  left:90px;
  top:1507px;
  width:320px;
  height:40px;
  font-size:25px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1140px;
  top:100px;
  width:210px;
  height:50px;
  font-size:30px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u6 {
  position:absolute;
  left:0px;
  top:7px;
  width:210px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1630px;
  top:100px;
  width:140px;
  height:50px;
  font-size:30px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u8 {
  position:absolute;
  left:0px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1590px;
  top:95px;
  width:10px;
  height:60px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:60px;
}
#u10 {
  position:absolute;
  left:1410px;
  top:100px;
  width:140px;
  height:50px;
  font-size:30px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u11 {
  position:absolute;
  left:0px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:130px;
  top:407px;
  width:10px;
  height:70px;
}
#u12_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u12_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u12_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:70px;
}
#u13 {
  position:absolute;
  left:190px;
  top:412px;
  width:300px;
  height:60px;
  font-size:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u14 {
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:190px;
  top:290px;
  width:100px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:0px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:547px;
  top:290px;
  width:160px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:0px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:963px;
  top:290px;
  width:160px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:0px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1380px;
  top:290px;
  width:160px;
  height:50px;
  font-size:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:0px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:190px;
  top:553px;
  width:80px;
  height:25px;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u24 {
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:280px;
  top:553px;
  width:160px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u25_input:disabled {
  color:grayText;
}
#u26 {
  position:absolute;
  left:774px;
  top:602px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:130px;
  top:680px;
  width:200px;
  height:60px;
  font-size:22px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:330px;
  top:680px;
  width:150px;
  height:60px;
  font-size:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:480px;
  top:680px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:720px;
  top:680px;
  width:150px;
  height:60px;
  font-size:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:870px;
  top:680px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:130px;
  top:740px;
  width:200px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:330px;
  top:740px;
  width:150px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:480px;
  top:740px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:720px;
  top:740px;
  width:150px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:870px;
  top:740px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:130px;
  top:800px;
  width:200px;
  height:60px;
  font-size:22px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:330px;
  top:800px;
  width:150px;
  height:60px;
  font-size:22px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:480px;
  top:800px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u52 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:720px;
  top:800px;
  width:150px;
  height:60px;
  font-size:22px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:870px;
  top:800px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u56 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:130px;
  top:860px;
  width:200px;
  height:60px;
  font-size:22px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:330px;
  top:860px;
  width:150px;
  height:60px;
  font-size:22px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u60 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:480px;
  top:860px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u62 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:720px;
  top:860px;
  width:150px;
  height:60px;
  font-size:22px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:870px;
  top:860px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:190px;
  top:500px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u68 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:281px;
  top:500px;
  width:200px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70 {
  position:absolute;
  left:524px;
  top:500px;
  width:200px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71 {
  position:absolute;
  left:774px;
  top:500px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u72 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:866px;
  top:500px;
  width:200px;
  height:25px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74 {
  position:absolute;
  left:1105px;
  top:500px;
  width:200px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:490px;
  top:500px;
  width:27px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u76 {
  position:absolute;
  left:1070px;
  top:500px;
  width:27px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u77 {
  position:absolute;
  left:774px;
  top:553px;
  width:80px;
  height:25px;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u78 {
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:864px;
  top:553px;
  width:160px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u79_input:disabled {
  color:grayText;
}
#u80 {
  position:absolute;
  left:190px;
  top:602px;
  width:80px;
  height:25px;
  font-size:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u81 {
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:280px;
  top:602px;
  width:200px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83 {
  position:absolute;
  left:130px;
  top:920px;
  width:200px;
  height:60px;
  font-size:22px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u84 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:330px;
  top:920px;
  width:150px;
  height:60px;
  font-size:22px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u86 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:480px;
  top:920px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u88 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:720px;
  top:920px;
  width:150px;
  height:60px;
  font-size:22px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u90 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:870px;
  top:920px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u92 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1105px;
  top:680px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u94 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1105px;
  top:740px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u96 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1105px;
  top:800px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u98 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1105px;
  top:860px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u100 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1105px;
  top:920px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u102 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1345px;
  top:680px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u104 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1345px;
  top:740px;
  width:240px;
  height:60px;
  font-size:22px;
  color:#000000;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u106 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1345px;
  top:800px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u108 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1345px;
  top:860px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u110 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1345px;
  top:920px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u112 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1585px;
  top:680px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u114 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1585px;
  top:740px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u116 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:1585px;
  top:800px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u121 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:1585px;
  top:860px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u123 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1585px;
  top:920px;
  width:240px;
  height:60px;
  font-size:22px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u125 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:714px;
  top:660px;
  visibility:hidden;
}
#u126_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u126_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:210px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:210px;
}
#u128 {
  position:absolute;
  left:2px;
  top:97px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:60px;
  top:32px;
  width:90px;
  height:22px;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u129_input:disabled {
  color:grayText;
}
#u130 {
  position:absolute;
  left:20px;
  top:30px;
  width:30px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u131 {
  position:absolute;
  left:60px;
  top:75px;
  width:200px;
  height:25px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u132 {
  position:absolute;
  left:60px;
  top:75px;
  width:200px;
  height:25px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u133 {
  position:absolute;
  left:20px;
  top:75px;
  width:30px;
  height:25px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u134 {
  position:absolute;
  left:20px;
  top:75px;
  width:30px;
  height:25px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u135 {
  position:absolute;
  left:140px;
  top:155px;
  width:100px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u136 {
  position:absolute;
  left:250px;
  top:155px;
  width:100px;
  height:25px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u137 {
  position:absolute;
  left:60px;
  top:124px;
  width:200px;
  height:21px;
  color:#FF0000;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
}
#u138 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:270px;
  top:75px;
  width:30px;
  height:25px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u140 {
  position:absolute;
  left:90px;
  top:350px;
  width:1680px;
  height:10px;
}
#u140_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1680px;
  height:2px;
}
